{% extends 'base.html' %}

{% block title %}
    Информация о покупателе
{% endblock %}

{% block content %}
    <div class="w-full mb-4 py-6 justify-between item-center border-b border-gray-200">
        <h1 class="text-4xl text-gray-800">{{ customer.name }}</h1>
        <h2 class="title-font text-1xl font-medium text-gray-900">Текущий счет: <a class="text-green-800">{{ customer.current_count }}</a></h2>
        <h2 class="title-font text-1xl font-medium text-gray-900">Сумма покупок: <a class="text-green-800">{{ customer.all_count }}</a></h2>
        <h2 class="title-font text-1xl font-medium text-gray-900">Кредитный лимит: <a class="text-green-800">{{ customer.credit_limit }}</a></h2>
        <h2 class="title-font text-1xl font-medium text-gray-900">Текущий кредит: <a class="text-green-800">{{ customer.current_credit }}</a></h2>

            <h2 class="title-font text-1xl font-medium text-gray-900">Остаток по кредиту:
                {% if customer.low_left_credit %}
                    <a class="text-red-800">{{ customer.left_credit }}</a>
                {% else %}
                    <a class="text-green-800">{{ customer.left_credit }}</a>
                {% endif %}
            </h2>
        <h2 class="title-font text-1xl font-medium text-gray-900">Комментарий: <a class="text-green-800">{{ customer.comment }}</a></h2>
    </div>
    <div class="w-full mb-6 py-6 flex justify-between item-center">
        <div>
            <h1 class="text-3xl text-gray-800">Заказы покупателя</h1>
        </div>
        <div>
            <a class="text-red-800" href="{% url 'mainapp:order-create' customer.pk %}">Создать заказ</a>
        </div>
    </div>
    {% for order in orders %}
        <div class="w-full py-4">
            <h1 class="title-font text-2xl font-medium text-gray-900">Номер заказа: {{ order.id }}: {{ order.get_pay_way_display }}</h1>
            <h2 class="title-font text-1xl font-medium text-gray-900">Приобретенный товар:</h2>
            <p>{{ order.needed_product.name }} ({{ order.needed_quantity }} шт.) - {{ order.needed_cost }}</p>
            {% if order.pay_way == 'barter' %}
                <h2 class="title-font text-1xl font-medium text-gray-900">Обменяли на:</h2>
                <p><p>{{ order.given_product.name }} ({{ order.given_quantity }} шт.) - {{ order.given_cost }}</p>
                <h2 class="title-font text-1xl font-medium text-gray-900">Сумма покупки: {{ order.given_cost }} рублей</h2>
            {% else %}
                <h2 class="title-font text-1xl font-medium text-gray-900">Сумма покупки: {{ order.needed_cost }} рублей</h2>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
