{% extends 'base.html' %}

{% block title %}
    Список покупателей
{% endblock %}

{% block content %}
    <div class="w-full mb-6 py-6 flex justify-between item-center border-b border-gray-200">
        <div>
            <h1 class="text-4xl text-gray-800">Покупатели</h1>
        </div>
        <div>
            <a class="text-red-800" href="#">Добавить покупателя</a>
        </div>
    </div>
    {% for customer in customers %}
        <div class="w-full py-6">
            <h1>{{ customer.name }} - {{ customer.comment }}</h1>
            <p>Всего покупок на {{ customer.all_count }} рублей</p>
            <a class="text-red-800" href="#">Подробнее</a>
            <br>
            <a class="text-red-800 text-right" href="#">Изменить данные</a>
        </div>
    {% endfor %}
{% endblock %}
