input, select {
    margin: 10px 5px;
    padding: 5px;
    border: 1px solid #c7ccd1;
    border-radius: 5px;
}
label {
    font-weight: 500;
    font-size: 18px;
}

input:hover, select:hover{
    border-color: #D8093A;
}

form {
    padding: 15px;
    font-size: 16px;
    line-height: 120%;
}
